/*ESTILO GERAL**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2.titulo {
    color: whitesmoke;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: red
}

body {
    background-color: black;
    height: 100vh;
}

.interface {

    max-width: 1280px;
    margin: 0 auto;
}


.flex {
    display: flex;

}

.jvp-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 50px;
    background-color: red;
    border: 0;
    border-radius: 35px;
    cursor: pointer;
    transition: .02s;
}

button:hover {
    box-shadow: 0px 0px 10px rgb(2, 2, 2);
    transform: scale(1.05);
}

/* ESTILO DO CABELÇALHO*/

header {
    padding: 40PX 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {

    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: red;
    transform: scale(1.6);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 50px;
    margin-top: 70px;
}


.jvp-contato button:hover {
    box-shadow: 0px 0px 10px rgb(2, 2, 2);
    transform: scale(1.05);
}


/*ESTILO MOBLILE */

/* topo do site */

section.topo {
    padding: 100px 4%;
}

section.topo .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo .txt-topo,
h1 {
    color: whitesmoke;
    font-size: 60px;
}

.topo h1 span {
    color: red;
}

.topo .txt-topo,
p {
    color: white;
    margin: 50px 0;
    margin-top: 6px;
    font-size: 25px;
}

.topo .img-topo img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: whitesmoke;
    padding: 100px;
    border-radius: 50px;
    margin-top: 100px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.02);
    box-shadow: 0 0 30px RED;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: red
}

.especialidades .especialidades-box h3 {
    font-size: 50px;
    margin: 15px 0;
}

/*estilo do sobre*/
section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px
}

.sobre .txt-sobre {
    color: whitesmoke
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: red;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.brn-social button {
    width: 60px;
    height: 60px;
    border-radius: 60%;
    border: 0;
    background-color: red;
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
    transition: .2s;

}

/* ESTILO PORTFÓLIO */

section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgb(230, 0, 0);
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}


.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 50px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    background-color: #000000b8;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

.grata {
    width: 100px;
    height: 100px;
    border: 0;
    background-color: #000000b8;
    font-size: 30px;
    cursor: pointer;
    border-radius: 30px;
    transition: .2s;
    color: whitesmoke;

}

/*estilo rodapé*/

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px rgb(230, 0, 0);
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 20px 0;
}

.borda {
    border-top: 2px solid red;

}

footer .line-footer p i {
    color: red;
    font-size: 30px;
}

footer .line-footer p a {
    color: whitesmoke;
}

@media screen and (max-width: 1190px) {

    /* geral */
    .flex {
        flex-direction: column;
    }

    .topo .flex {
        flex-direction: column-reverse;
    }

    /*cabeçalho*/
    .menu-descktop,
    .jvp-contato {
        display: none;
    }

    section.topo {
        padding: 5px 4%;
    }

    .topo h1 {
        margin: 50px 0;
        margin-top: 6px;
        font-size: 35px;
    }


}